APP_HOST=127.0.0.1
APP_PORT=3000
APP_VERSION=0.1.0
HTTP_JSON_LIMIT_BYTES=1048576
FLOWPILOT_PUBLIC_BASE_URL=http://flowpilot.internal/flowpilot
FLOWPILOT_BUSINESS_TIME_ZONE=Asia/Shanghai
FLOWPILOT_COOKIE_SECURE=false
AUTH_LOGIN_FAILURE_WINDOW_MS=900000
AUTH_LOGIN_BLOCK_DURATION_MS=900000
AUTH_LOGIN_ACCOUNT_IP_FAILURE_LIMIT=5
AUTH_LOGIN_IP_FAILURE_LIMIT=100
AUTH_LOGIN_UNAVAILABLE_WINDOW_MS=60000
AUTH_LOGIN_UNAVAILABLE_BLOCK_DURATION_MS=60000
AUTH_LOGIN_UNAVAILABLE_IP_LIMIT=60
AUTH_LOGIN_GLOBAL_IN_FLIGHT_LIMIT=4
AUTH_LOGIN_IP_IN_FLIGHT_LIMIT=2
MSSQL_SCHEMA=flowpilot
MSSQL_EXPECTED_COMPATIBILITY_LEVEL=130
MSSQL_EXPECTED_COLLATION=<DBA确认的数据库排序规则>
MSSQL_POOL_MIN=0
MSSQL_POOL_MAX=20
MSSQL_CONNECT_TIMEOUT_MS=5000
MSSQL_REQUEST_TIMEOUT_MS=30000
MSSQL_DEADLOCK_RETRY_COUNT=3
DOMAIN_AUTH_ENABLED=true
DOMAIN_AUTH_ACCOUNT_ATTRIBUTE=sAMAccountName
DOMAIN_AUTH_ALLOW_PLAINTEXT=false
DOMAIN_AUTH_CONNECT_TIMEOUT_MS=3000
DOMAIN_AUTH_OPERATION_TIMEOUT_MS=5000
DOMAIN_AUTH_TLS_REJECT_UNAUTHORIZED=true
SMTP_ENABLED=true
SMTP_PORT=25
SMTP_SECURE=false
SMTP_REQUIRE_TLS=true
SMTP_IGNORE_TLS=false
SMTP_TLS_REJECT_UNAUTHORIZED=true
SMTP_CONNECTION_TIMEOUT_MS=5000
SMTP_GREETING_TIMEOUT_MS=5000
SMTP_SOCKET_TIMEOUT_MS=15000
SMTP_MAX_CONNECTIONS=5
